{{template "layout.html" .}}

{{define "title"}}::algebra2::unit0::lesson03{{end}}

{{define "blurb"}}solving equations &amp; inequalities{{end}}

{{define "content"}}

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson target</h5>
      <p class="card-text">
        <span class="sol">a.ei.1</span> the student will represent, solve, and interpret the solution to absolute value equations
        and inequalities in one variable.
        <ul class="list-group">
          <li class="list-group-item">
            b - solve an absolute value equation in one variable algebraically and verify the solution graphically
        </li>
        <li class="list-group-item">
            d - Solve an absolute value inequality in one variable and represent the solution set using set notation, interval notation, and using a number line
        </li>
        </ul>
      </p>
      <h5 class="card-title">essential question</h5>
      <p class="card-text">
        what are the similarities and differences in the procedures for solving and expressing the solutions of equations and inequalities?     </p>
      <h5 class="card-title">success criteria</h5>
      <p class="card-text">
        <ul class="list-group">
            <li class="list-group-item">i can apply the properties of real numbers and properties of equality/inequality to simplify expressions and solve multistep linear equations and inequalities</li>
            <li class="list-group-item">i can solve multistep linear equations and inequalities in one variable algebraically involving: </li>
            <ul class="list-group">
                <li class="list-group-item">\(\rightarrow\) rational numbers/expressions</li>
                <li class="list-group-item">\(\rightarrow\) distributing</li>
                <li class="list-group-item">\(\rightarrow\) combining like terms</li>
                <li class="list-group-item">\(\rightarrow\) variables on both sides</li>
                <li class="list-group-item">\(\rightarrow\) negative coefficients</li>
              </ul>
            </ul>
      </ul>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">warmup: solving equations and inequalities</h5>
      <p class="card-text">
        solve the following equation/inequality and specify the solution or solution set
        <blockquote>
          $$
          \begin{aligned}
          3x + 5 &= 17 \\
          \\
          4x - 7 &\lt 9 \\
          \\
          \end{aligned}
          $$
        </blockquote>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">hook: mystery number </h5>
      <p class="card-text">
        i&apos;m thinking of a number. if i triple it and add 5, i get 17. what&apos;s the number?
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">properties of equality/inequality</h5>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>addition/subtraction property of equality/inequality</td>
          <td>$$ 3x^2 + 9x $$</td>
          <td>$$ = 3x(x+3) $$</td>
        </tr>
        <tr>
          <td>multiplication/division property of equality/inequality</td>
          <td>$$ x^2 +7x+12 $$</td>
          <td>$$ = (x+4)(x+3) $$</td>
        </tr>
        <tr>
          <td>other operations</td>
          <td>$$ 6x^2+11x-10 $$</td>
          <td>$$ = (2x+5)(3x-2) $$</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">properties of real numbers</h5>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>commutative property (addition/multiplication)</td>
          <td>$$ 3x^2 + 9x $$</td>
          <td>$$ = 3x(x+3) $$</td>
        </tr>
        <tr>
          <td>associative property (addition/multiplication)</td>
          <td>$$ x^2 +7x+12 $$</td>
          <td>$$ = (x+4)(x+3) $$</td>
        </tr>
        <tr>
          <td>distributive property</td>
          <td>$$ 6x^2+11x-10 $$</td>
          <td>$$ = (2x+5)(3x-2) $$</td>
        </tr>
        <tr>
            <td>identity property (addition/multiplication)</td>
            <td>$$ 6x^2+11x-10 $$</td>
            <td>$$ = (2x+5)(3x-2) $$</td>
          </tr>
          <tr>
            <td>inverse property (addition/multiplication)</td>
            <td>$$ 6x^2+11x-10 $$</td>
            <td>$$ = (2x+5)(3x-2) $$</td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">practice</h5>
      <p class="card-text">factor completely - gcf</p>
      <ol class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ 12x + 18 $$</li>
        <li class="list-group-item flex-fill">$$ 14x^3y^2 - 21x^2y^4 + 7x^4y $$</li>
      </ol>
      <br/>
      <p class="card-text">factor completely \(a=1\)</p>
      <ol start="3" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ x^2 + 5x + 6 $$</li>
        <li class="list-group-item flex-fill">$$ x^2 - x - 20 $$</li>
      </ol>
      <br/>
      <p class="card-text">factor completely \(a\neq1\)</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ 2x^2 + 7x + 3 $$</li>
        <li class="list-group-item flex-fill">$$ 6x^2 - 19x + 10 $$</li>
      </ol>
      <br/>
      <p class="card-text">factor completely - factor patterns</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ x^2 -10x + 25 $$</li>
        <li class="list-group-item flex-fill">$$ x^4-16 $$</li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">closing</h5>
      <p class="card-text">exit ticket - factor completely</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ 6x^{3}-45x-21x^{2} $$</li>
        <li class="list-group-item flex-fill">$$ x^4-y^4 $$</li>
      </ol>
      <br/>
      <p class="card-text">homework</p>
      <ul class="list-group">
        <li class="list-group-item">ixl</li>
        <li class="list-group-item">deltamath</li>
        <li class="list-group-item">mathspace</li>
        <li class="list-group-item">enrichment</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">supporting documents</h5>
      <ul class="list-group">
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/lessonPlan.pdf">lesson plan</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/vocabulary.pdf">vocabulary</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/additionalPractice.pdf">additional practice</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/exitTicket.pdf">exit ticket</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/enrichment.pdf">enrichment</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}