{{template "layout.html" .}}

{{define "title"}}::algebra2::unit0{{end}}

{{define "blurb"}}foundations{{end}}

{{define "content"}}

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 1: laws of exponents</h5>
      <p class="card-text">
          <ul>
              <li>review laws of exponents and radicals</li>
              <li>simplifying expressions with exponents/radicals</li>
              <li>rational exponents</li>
          </ul>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <a href="/algebra2/unit0/lesson01">goto ::unit0::lesson01</a>
        </small>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 2: factoring</h5>
      <p class="card-text">
        <ul>
          <li>greatest common factor (gcf)</li>
          <li>trinomials \( a = 1 \)</li>
          <li>trinomials \( a\gt1 \)</li>
          <li>factor patterns</li>
      </ul>
  </p>
      <p class="card-text">
        <small class="text-muted">
          <a href="/algebra2/unit0/lesson02">goto ::unit0::lesson02</a>
        </small>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 3: solving equations and inequalities</h5>
      <p class="card-text">
        <ul>
          <li>properties of equality</li>
          <li>properties of inequality</li>
          <li>properties of real numbers</li>
          <li>solving equations/inequalities algebraically/graphically</li>
      </ul>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <a href="/algebra2/unit0/lesson03">goto ::unit0::lesson03</a></small>
      </p>
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">lesson 4: functions</h5>
        <p class="card-text">
          <ul>
            <li>relations vs. functions</li>
            <li>domain, range, continuity</li>
            <li>intercepts, zeros</li>
            <li>finding values of a function</li>
            <li>forms of linear and quadratic functions</li>
        </ul>
          </p>
        <p class="card-text"><small class="text-muted">goto ::unit0::lesson04</small></p>
      </div>
  </div>
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">lesson 5: linear and quadratic regressions</h5>
        <p class="card-text">
          <ul>
            <li>calculating linear regressions</li>
            <li>calculating quadratic regressions</li>
            <li>using regression equations to make predictions</li>
        </ul>
        </p>
        <p class="card-text"><small class="text-muted">goto ::unit4::lesson05</small></p>
      </div>
    </div>      
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">lesson 6: compound inequalities</h5>
        <p class="card-text">
          <ul>
            <li>conjunctions and disjunctions</li>
            <li>set notation and interval notation</li>
        </ul>
        </p>
        <p class="card-text"><small class="text-muted">goto ::unit4::lesson06</small></p>
      </div>
    </div>      
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">assessment</h5>
      <p class="card-text">
        <ul>
          <li>problem set</li>
          <li>unit test</li>
      </ul>
      </p>
      <p class="card-text"><small class="text-muted">goto ::unit0::assessment</small></p>
    </div>
  </div>
</div>
{{end}}