{{template "layout.html" .}}

{{define "title"}}::algebra2{{end}}

{{define "blurb"}}syllabus{{end}}

{{define "content"}}

<div class="card-deck">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">unit 0: foundations</h5>
        <p class="card-text">
            <ul>
                <li>review concepts from ::algebra1</li>
                    <ul>
                        <li>laws of exponents and radicals</li>
                        <li>factoring</li>
                        <li>solving equations and inequalities</li>
                        <li>functions</li>
                        <li>linear and quadratic regressions</li>
                    </ul>
                <li>compound inequalities</li>
            </ul>
        </p>
        <p class="card-text">
            <small class="text-muted">
                <a href="/algebra2/unit0">goto ::unit0</a>
            </small>
        </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">unit 1: function analysis</h5>
        <p class="card-text">
            <ul>
                <li>absolute value functions, equations, inequalities</li>
                <li>characteristics of functions</li>
                <ul>
                    <li>domain, range, zeros, intercepts, continuity</li>
                    <li>intervals of increase/decrease/constancy</li>
                    <li>absolute/relative extrema</li>
                    <li>end behavior</li>
                    <li>values of a function for elements in its domain</li>
                    <li>equations of asymptotes</li>
                    <li>function inverses</li>
                    <li>function composition</li>
                </ul>
                <li>function families and parent functions</li>
                <ul>
                    <li>linear</li>
                    <li>quadratic/cubic/polynomial</li>
                    <li>square root/cube root/radical</li>
                    <li>rational</li>
                    <li>exponential/logarithmic</li>
                    <li>piecewise-defined</li>
                </ul>
                <li>function transformations</li>
                <ul>
                    <li>vertical/horizontal translation</li>
                    <li>vertical/horizontal stretch/compression</li>
                    <li>rotation around x-/y-axis</li>
                </ul>
            </ul>
        </p>
        <p class="card-text">
            <small class="text-muted">
                <a href="/algebra2/unit1">goto ::unit1</a>
            </small>
        </p>
    </div>
    </div>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">unit 2: quadratic functions</h5>
        <p class="card-text">
            <ul>
                <li>forms of quadratic functions</li>
                <li>complex/imaginary solutions</li>
                <li>solving quadratic equations</li>
                <ul>
                    <li>square root</li>
                    <li>complete the square</li>
                    <li>factoring</li>
                    <li>quadratic formula</li>
                </ul>
                <li>systems of linear/quadratic functions</li>
            </ul>
        </p>
        <p class="card-text"><small class="text-muted">goto ::unit2</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">unit 3: polynomial functions</h5>
            <p class="card-text">
            <ul>
                <li>polynomial operations</li>
                <ul>
                    <li>addition/subtraction</li>
                    <li>multiplication/division</li>
                    <ul>
                        <li>long division</li>
                        <li>synthetic division</li>
                    </ul>
                    <li>factoring</li>
                    <ul>
                        <li>greatest common factor</li>
                        <li>factoring trinomials</li>
                        <li>factor patterns</li>
                        <ul>
                            <li>difference of squares</li>
                            <li>perfect square trinomial (square of a sum/difference)</li>
                            <li>sum/difference of cubes</li>
                        </ul>
                    </ul>
                </ul>
                <li>polynomial identities</li>
                <li>polynomial theorems</li>
                <ul>
                    <li>binomial theorem</li>
                    <li>rational root theorem</li>
                    <li>fundamental theorem of algebra</li>
                    <li>remainder theorem</li>
                    <li>conjugate root theorems</li>
                </ul>
            </ul>
            </p>
            <p class="card-text"><small class="text-muted">goto ::unit3</small></p>
        </div>
        </div>
    </div>    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">unit 4: radical functions</h5>
            <p class="card-text">
                <ul>
                <li>radical operations/laws of exponents/rational exponents</li>
                <li>solving radical equations/extraneous solutions</li>
                <li>review: function inverses and composition</li>
                </ul>
            </p>
            <p class="card-text"><small class="text-muted">goto ::unit4</small></p>
        </div>
        </div>      
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">unit 5: rational functions</h5>
            <p class="card-text">
            <ul>
                <li>direct/inverse variation</li>
                <li>operations on and simplifying rational expressions</li>
                <li>solving rational equations/extraneous solutions</li>
                <li>review: exponential and logarithmic functions</li>
            </ul>
            </p>
            <p class="card-text"><small class="text-muted">goto ::unit5</small></p>
        </div>
        </div>      
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">unit 6: statistics</h5>
            <p class="card-text">
            <ul>
                <li>univariate/bivariate data, sampling</li>
                <li>data distributions</li>
                <li>normal distributions, z-scores, probability</li>
                <li>linear, quadratic, exponential regressions</li>
                <li>permutations, combinations, probability</li>
            </ul>
            </p>
            <p class="card-text"><small class="text-muted">goto ::unit6</small></p>
        </div>
        </div>      
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">review/end-of-course</h5>
            <p class="card-text">
            <ul>
            <li>review and remediation work as assigned in each of the three content areas</li>
            <ul>
                <li>expressions and operations</li>
                <li>equations and inequalities</li>
                <li>functions and statistics</li>
            </ul>
            </ul>
            </p>
            <p class="card-text"><small class="text-muted">goto ::review</small></p>
        </div>
        </div>      
</div>
{{end}}