{{template "layout.html" .}}

{{define "title"}}::algebra2::unit0::lesson01{{end}}

{{define "blurb"}}laws of exponents{{end}}

{{define "content"}}

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson target</h5>
      <p class="card-text">
        <span class="sol">a.eo.3</span> the student will derive and apply the laws of exponents.
      <ul class="list-group">
        <li class="list-group-item">a - derive the laws of exponents through explorations of patterns, to include
          products, quotients, and powers of bases </li>
        <li class="list-group-item">b - simplify multivariable expressions and ratios of monomial expressions in which
          the exponents are integers, using the laws of exponents</li>
      </ul>
      </p>
      <h5 class="card-title">essential question</h5>
      <p class="card-text">
        how can I simplify expressions containing exponents?
      </p>
      <h5 class="card-title">success criteria</h5>
      <p class="card-text">
      <ul class="list-group">
        <li class="list-group-item">i can create rules for the laws of exponents.</li>
        <li class="list-group-item">i can simplify monomial expressions in which
          the exponents are integers, using the laws of exponents when given:</li>
        <ul class="list-group">
          <li class="list-group-item">\(\rightarrow\) products of monomials</li>
          <li class="list-group-item">\(\rightarrow\) a monomial raised to a power</li>
          <li class="list-group-item">\(\rightarrow\) a product raised to a power</li>
          <li class="list-group-item">\(\rightarrow\) an expression with zero power</li>
          <li class="list-group-item">\(\rightarrow\) a monomial with a negative exponent</li>
        </ul>
        <li class="list-group-item">i can simplify ratios of monomial expressions in which the exponents are integers,
          using the laws of exponents when given:</li>
        <ul class="list-group">
          <li class="list-group-item">\(\rightarrow\) quotients of monomials</li>
          <li class="list-group-item">\(\rightarrow\) a quotient raised to a power</li>
          <li class="list-group-item">\(\rightarrow\) an expression with zero power</li>
          <li class="list-group-item">\(\rightarrow\) a monomial with a negative exponent</li>
        </ul>
      </ul>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">warmup: laws of exponents</h5>
      <p class="card-text">
        simplify the following
      <blockquote>
        $$
        \begin{aligned}
        x^2\cdot x^3&= \\
        \\
        \left(x^2\right)^3&= \\
        \\
        \left(x^2y^3\right)^3&= \\
        \\
        \frac{x^3}{x^2}&= \\
        \\
        \left(\frac{x^2}{y}\right)^2&= \\
        \\
        \frac{x^2y^{-3}}{x^{-1}y^2}&= \\
        \end{aligned}
        $$
      </blockquote>
      rewrite the following radicals using rational exponents
      <blockquote>
        $$
        \begin{aligned}
        \sqrt[3]{x^2}&= \\
        \\
        \sqrt[4]{x^3}&= \\
        \\
        \end{aligned}
        $$
      </blockquote>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">hook: area and perimeter</h5>
      <p class="card-text">
        how would you calculate the area and perimeter of the following rectangle?
        <img src="/i/unit0lesson01figure01.png" class="img-fluid" />
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">laws of exponents</h5>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Product Rule</td>
            <td>$$ a^x \cdot a^y $$</td>
            <td>$$ = a^{x+y} $$</td>
          </tr>
          <tr>
            <td>Power of a Power Rule</td>
            <td>$$ \left(a^x\right)^y$$</td>
            <td>$$ = a^{x \cdot y} $$</td>
          </tr>
          <tr>
            <td>Power of a Product Rule</td>
            <td>$$ \left(ab\right)^x $$</td>
            <td>$$ = a^xb^x $$</td>
          </tr>
          <tr>
            <td>Quotient Rule</td>
            <td>$$ \frac{a^x}{a^y} $$</td>
            <td>$$ = a^{x-y} $$</td>
          </tr>
          <tr>
            <td>Negative Exponents</td>
            <td>$$ a^{-x} $$</td>
            <td>$$ = \frac{1}{a^x} $$</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">laws of radicals</h5>
      <table class="table table-striped">
        <tr>
          <td>$$ \sqrt[n]{a \cdot b} $$</td>
          <td>$$ = \sqrt[n]{a} \cdot \sqrt[n]{b} $$</td>
        </tr>
        <tr>
          <td>$$ \sqrt[n]{\frac{a}{b}} $$</td>
          <td>$$ = \frac{\sqrt[n]{a}}{\sqrt[n]{b}} $$</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">rational exponents</h5>
      <table class="table table-striped">
        <tr>
          <td>$$ \sqrt[y]{a^x} $$</td>
          <td>$$ = a^{\frac{x}{y}} $$</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">practice</h5>
      <p class="card-text">write each radical using a rational exponent</p>
      <ol class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ \sqrt[4]{7} $$</li>
        <li class="list-group-item flex-fill">$$ \sqrt{a^{-3}} $$</li>
        <li class="list-group-item flex-fill">$$ \sqrt[3]{b^a} $$</li>
      </ol>
      <br />
      <p class="card-text">solve each equation</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ \left(2^{2x+2}\right)\left(2^{3x-7}\right) = 2^25$$</li>
        <li class="list-group-item flex-fill">$$ 3 = \left(5^\frac{1}{3}\right)\left(x^\frac{1}{3}\right) $$</li>
        <li class="list-group-item flex-fill">$$ 36^{2x-7} = 6^{x-5}$$</li>
      </ol>
      <br />
      <p class="card-text">solve for \(x\)</p>
      <ul class="list-group">
        <li class="list-group-item">$$ x^\frac{p}{q}=a $$</li>
      </ul>
      <br />
      <p class="card-text">problem in context</p>
      <ul>
        <li class="list-group-item">
          <p class="card-text">
            a triangle has a base of \( x^\frac{1}{2} \, m\) and a height of \( x^\frac{3}{4} \, m\).
            if the area of the triangle is \(16 \, m^2\), what are the base and the height of the triangle?
            <img src="/i/alg2unit0lesson01fig02.png" class="img-fluid" width="50%" />
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">closing</h5>
      <p class="card-text">exit ticket</p>
      <br />
      <p class="card-text">homework</p>
      <ul class="list-group">
        <li class="list-group-item">mathspace OR</li>
        <li class="list-group-item">enrichment</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">supporting documents</h5>
      <ul class="list-group">
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/lessonPlan.pdf">lesson plan</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/vocabulary.pdf">vocabulary</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/additionalPractice.pdf">additional
            practice</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/exitTicket.pdf">exit ticket</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/enrichment.pdf">enrichment</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}