{{template "layout.html" .}}

{{define "title"}}::algebra2::unit0::lesson02{{end}}

{{define "blurb"}}factoring{{end}}

{{define "content"}}

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson target</h5>
      <p class="card-text">
        <span class="sol">a.eo.2</span> the student will perform operations on and factor polynomial expressions in one
        variable.
        <ul class="list-group">
          <li class="list-group-item">c - factor completely first- and second-degree polynomials in one variable with integral
            coefficients. after factoring out the greatest common factor (gcf), leading coefficients
            should have no more than four factors.</li>
        </ul>
      </p>
      <h5 class="card-title">essential question</h5>
      <p class="card-text">
        how do polynomials relate to other algebraic concepts, such as factoring and quadratic equations?
    </p>
      <h5 class="card-title">success criteria</h5>
      <p class="card-text">
        <ul class="list-group">
            <li class="list-group-item">i can factor out the greatest common factor(gcf)</li>
            <li class="list-group-item">i can factor completely first and second degree polynomials in one variable with integral coefficients.</li>
        </ul>
      </ul>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">warmup: factoring</h5>
      <p class="card-text">
        completely factor the following
        <blockquote>
          $$
          \begin{aligned}
          3x^2 + 9x&= \\
          \\
          x^2\ - 36&= \\
          \\
          x^2+6x+9 &= \\
          \\
          x^2-6x+9&= \\
          \\
          4x^2+12x+9&= \\
          \\
          6x^2+11x-10&= \\
          \end{aligned}
          $$
        </blockquote>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">hook: area </h5>
      <p class="card-text">
        how would you calculate the other side of the rectangle?
        <img src="/i/algebra2unit0lesson02figure01.png" class="img-fluid"/>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">factoring</h5>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>gcf</td>
          <td>$$ 3x^2 + 9x $$</td>
          <td>$$ = 3x(x+3) $$</td>
        </tr>
        <tr>
          <td>trinomial \(a=1\)</td>
          <td>$$ x^2 +7x+12 $$</td>
          <td>$$ = (x+4)(x+3) $$</td>
        </tr>
        <tr>
          <td>trinomial \(a\neq1\)</td>
          <td>$$ 6x^2+11x-10 $$</td>
          <td>$$ = (2x+5)(3x-2) $$</td>
        </tr>
        <tr>
          <td>difference of squares</td>
          <td>$$ x^2-36 $$</td>
          <td>$$ = (x+6)(x-6)$$</td>
        </tr>
        <tr>
          <td>square of a sum</td>
          <td>$$ (x+3)^2 $$</td>
          <td>$$ = x^2+6x+9 $$</td>
        </tr>
        <tr>
          <td>square of a difference</td>
          <td>$$ (x-3)^2 $$</td>
          <td>$$ = x^2-6x+9 $$</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">factoring - step by step</h5>
      <ol class="list-group">
        <li class="list-group-item">factor out gcf
        $$ 6x^{3}-12x-14x^{2} = 2x(3x^2-6-7x)$$</li>
        <li class="list-group-item">put in standard form \(\rightarrow ax^2+bx+c\)
        $$  = 2x(3x^2-7x-6)$$</li>
        <li class="list-group-item">find your two numbers \(x+y=b\) and \(xy=ab\)
        $$ x+y=-7 \quad xy=(3)(-6)=-18 \quad \rightarrow {-9,2} $$</li>
        <li class="list-group-item">use your two numbers as coefficients of your middle terms
        $$ =2x(3x^2-9x+2x-6) $$</li>
        <li class="list-group-item">factor by grouping - factor out the gcf of each pair of terms
        $$ =2x(3x(x-3)+2(x-3)) $$</li> 
        <li class="list-group-item">factor out the common binomial
        $$ =2x(3x+2)(x-3) $$</li>
      </ol>
      <img src="/i/factor-trinomial.gif" class="img-fluid" title="animation of factoring by grouping"/>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">practice</h5>
      <p class="card-text">factor completely - gcf</p>
      <ol class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ 12x + 18 $$</li>
        <li class="list-group-item flex-fill">$$ 14x^3y^2 - 21x^2y^4 + 7x^4y $$</li>
      </ol>
      <br/>
      <p class="card-text">factor completely \(a=1\)</p>
      <ol start="3" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ x^2 + 5x + 6 $$</li>
        <li class="list-group-item flex-fill">$$ x^2 - x - 20 $$</li>
      </ol>
      <br/>
      <p class="card-text">factor completely \(a\neq1\)</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ 2x^2 + 7x + 3 $$</li>
        <li class="list-group-item flex-fill">$$ 6x^2 - 19x + 10 $$</li>
      </ol>
      <br/>
      <p class="card-text">factor completely - factor patterns</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ x^2 -10x + 25 $$</li>
        <li class="list-group-item flex-fill">$$ x^4-16 $$</li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">closing</h5>
      <p class="card-text">exit ticket - factor completely</p>
      <ol start="4" class="list-group list-group-numbered list-group-horizontal">
        <li class="list-group-item flex-fill">$$ 6x^{3}-45x-21x^{2} $$</li>
        <li class="list-group-item flex-fill">$$ x^4-y^4 $$</li>
      </ol>
      <br/>
      <p class="card-text">homework</p>
      <ul class="list-group">
        <li class="list-group-item">ixl</li>
        <li class="list-group-item">deltamath</li>
        <li class="list-group-item">mathspace</li>
        <li class="list-group-item">enrichment</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">supporting documents</h5>
      <ul class="list-group">
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/lessonPlan.pdf">lesson plan</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/vocabulary.pdf">vocabulary</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/additionalPractice.pdf">additional practice</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/exitTicket.pdf">exit ticket</a></li>
        <li class="list-group-item"><a href="/assets/algebra2/unit0/lesson01/enrichment.pdf">enrichment</a></li>
      </ul>
    </div>
  </div>
</div>
{{end}}