{{template "layout.html" .}}

{{define "title"}}::algebra2::unit1{{end}}

{{define "blurb"}}syllabus{{end}}

{{define "content"}}


<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 1: absolute value functions, equations, inequalities</h5>
      <p class="card-text">
      <ul>
        <li>graphing absolute value functions</li>
        <li>sovling absolute value equations and inequalities</li>
        <li>finding exact solutions by turning your equation into a function</li>
        <li>absolute value problems in context</li>
      </ul>
      </p>
      <p class="card-text">
        <small class="text-muted">goto ::unit1::lesson01</small>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 2: function families</h5>
      <p class="card-text">
      <ul>
        <li>linear functions</li>
        <li>quadratic/square root functions</li>
        <li>cubic/cube root functions</li>
        <li>polynomial functions</li>
        <li>rational functions</li>
        <li>exponential/logarithmic functions</li>
        <li>piecewise-defined functions</li>
      </ul>
      </p>
      <p class="card-text"><small class="text-muted">goto ::lesson2</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 3: function transformations</h5>
      <p class="card-text">
      <ul>
        <li>vertical/horizontal translations</li>
        <li>vertical/horizontal stretch/compression</li>
        <li>rotation around x-/y-axis</li>
      </ul>
      </p>
      <p class="card-text"><small class="text-muted">goto ::lesson3</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">unit 2 pre-assessment</h5>
      <p class="card-text">
      <ul>
        <li>unit 2 pre-assessment on quadratics</li>
      </ul>
      </p>
      <p class="card-text"><small class="text-muted">goto ::pre-assessment</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">lesson 4: function characteristics 1</h5>
      <p class="card-text">
      <ul>
        <li>domain, range, and continuity</li>
        <li>zeros and intercepts</li>
        <li>equations of vertical/horizontal asymptotes</li>
        <li>absolute/relative extrema</li>
      </ul>
      </p>
      <p class="card-text"><small class="text-muted">goto ::lesson4</small></p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">lesson 5: function characteristics 2</h5>
    <p class="card-text">
    <ul>
      <li>evaluating functions for elements in its domain</li>
      <li>intervals of increase/decrease/contancy</li>
      <li>end behavior</li>
    </ul>
    </p>
    <p class="card-text"><small class="text-muted">goto ::lesson5</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">lesson 6: function inverses</h5>
    <p class="card-text">
    <ul>
      <li>characteristics of inverse functions</li>
      <li>finding the inverse of a function algebraically</li>
    </ul>
    </p>
    <p class="card-text"><small class="text-muted">goto ::lesson7</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">lesson 7: function composition</h5>
    <p class="card-text">
    <ul>
      <li>function operations (addition/subtraction/multiplication/division)</li>
      <li>composing two functions algebraically</li>
      <li>composing two functions graphically and evaluating the composition for an element in its domain</li>
    </ul>
    </p>
    <p class="card-text"><small class="text-muted">goto ::lesson8</small></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">unit post assessment</h5>
    <p class="card-text">
    <ul>
      <li>vocabulary/recall</li>
      <li>problem set</li>
      <li>practice test</li>
      <li>unit post assessment</li>
    </ul>
    </p>
    <p class="card-text"><small class="text-muted">goto ::assessment</small></p>
  </div>
</div>
</div>