{{template "layout.html" .}}

{{define "title"}}{{end}}

{{define "blurb"}}welcome to algebra{{end}}

{{define "content"}}
<div class="row">
  <div class="col-md-6 bg-light border">
    <h5 class="text-center">::algebra1</h5>
    <ul>
      <li>syllabus</li>
      <li>unit 0: translating/evaluating expressions</li>
      <li>unit 1: radicals and exponents</li>
      <li>unit 2: linear equations/inequalities</li>
      <li>unit 3: linear functions</li>
      <li>unit 4: systems of linear equations/inequalities</li>
      <li>unit 5: polynomials</li>
      <li>unit 6: statistics</li>
    </ul>
  </div>
  <div class="col-md-6 bg-light border">
    <h5 class="text-center">::algebra2</h5>
    <ul>
      <li><a href="/algebra2">syllabus</a></li>
      <li><a href="/algebra2/unit0">unit 0: foundations</a></li>
      <li><a href="/algebra2/unit1">unit 1: function analysis</a></li>
      <li>unit 2: quadratic functions</li>
      <li>unit 3: polynomial functions</li>
      <li>unit 4: radical functions</li>
      <li>unit 5: rational functions</li>
      <li>unit 6: statistics</li>
    </ul>
  </div>
</div>
{{end}}